MYSQL_HOST=your-mysql-host
MYSQL_PORT=3306
MYSQL_USER=backup_user
MYSQL_PASSWORD=secret
MYSQL_DATABASE=chilitime
SCP_USER=ubuntu
SCP_HOST=192.168.1.100
SCP_PORT=22
SCP_TARGET_DIR=/backups
BACKUP_CRON=0 2 * * * # every day at 02:00
RETAIN_DAYS=7
TEAMS_WEBHOOK_URL=https://xxxxxxxxxxxxxxxxxxxxxxx.c1.environment.api.powerplatform.com:443
